body {
    margin: 0;
    padding: 0;
}

#header {
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 20vh;
}

#logo-space {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

#restaurant-logo {
    width: 75px;
    height: auto;
}

#restaurant-name {
    font-size: 1.4rem;
}

#header-links {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

#main-img {
    grid-column: 1/2;
    width: 400px;
    height: auto;
    display: block;
    justify-self: center;
    align-self: center;
}

#description {
    grid-column: 2/3;
    font-size: 1rem;
    padding: 25px 0px 25px 0px;
    align-self: center;
    justify-self: center;
}

#about-title {
    grid-column: 2/3;
    align-self: center;
}

#cooker-img {
    height: 400px;
    width: auto;
    grid-column: 1/2;
    grid-row: 1/3;
    justify-self: center;
    align-self: center;
}

#about-para {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

#logo-space, #header-links a{
    cursor: pointer;
}

#contact-title {
    grid-column: 1/3;
    align-self: center;
}

#contact-para {
    grid-column: 1/3;
    align-self: center;
}

#about-title, #about-para, #menu-title, #contact-title, #contact-para {
    padding-left: 25px;
    padding-right: 25px;
}

#contact-form {
    align-self: center;
    margin-left: 25px;
    margin-right: 25px;
    padding : 25px;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    border: 1px solid grey;
    border-radius: 5px;
    row-gap: 25px;
}

#submit {
    grid-column: 2/3;
}

#menu-title {
    grid-column: 1/3;
    align-self: center;
}

#crep-table {
    margin-left: 25px;
    margin-right: 25px;
    border: 1px solid black;
    grid-column: 1/3;
    align-self: center;
}

#default-row {
    font-weight: bold;
}

#crep-table tr td {
    border: 1px solid black;
    text-align: center;
}